.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    /* width: 100px; */
}

.sidebar_header {
    display: flex;
    padding: 20px 10px 10px 20px;
    border-right: 1px solid lightgray;
    font-size: larger;
    font-weight: bold;
}

.sidebar_headerRight {
    display: flex;
    align-content: space-between;
    min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar_search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar_searchContainer > input {
    border: none;
    outline-width: 0;
    margin-left: 0px;
    width: 100%;
}

.sidebar_chats {
    flex: 1;
    background-color: white;
    overflow: scroll;
}

.new_chat {
    margin-left: 80%;
}